body{
    text-align: center;
}
h1{
    background-color: gray;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}
button{
    background-color: aquamarine;
    border-radius: 10px;
    margin: 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
button:hover{
    background-color: #00a2c6;
}
button:active{
    background-color: #004b5e;
}
.CalcMain{
    align-self: center;
    background-color: #686868;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}